*.iml
.gradle
/local.properties
local.properties
/gradle.properties
gradle.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
bin/
gen/
*.apk
*.aab
*.jks
*.keystore
*.log
